extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text', placeholder='hacker#hack.com' name='email' required  )
    if title!=="Log In"
      div.form-group
        label(for='displayname') Display Name:
        input#displayname.form-control(type='text', placeholder='hacker123' name='displayname' required  )
    div.form-group
      label(for='password') Password:
      input#password.form-control( placeholder='password' name='password' required )
    if title!=="Log In"
      div.form-group
        label(for='confirm password') Confirm Password:
        input#confirmpassowrd.form-control( placeholder='password' name='confirmpassowrd' required )
    

    button.btn.btn-primary(type='submit') Submit

  
  br
  p #{message}
  br
  br
  if title === "Log In"
    p Don't have an account? Register Here:
    a(href='/register')
         button.btn.btn-primary() Register 
  else 
    p Already have an account? Log In Here:
    a(href='/login')
         button.btn.btn-primary() Login 

  br
  br
  if errors
    ul
      for error in errors
        p!= error.msg