<!DOCTYPE html>
<html>
  <body>
    <h1><% title %></h1>
    <div style="display: flex; gap: 100px">
      <%- include('./layout') %>
      <div>
        <h4>Email: <% user.email %></h4>
        <h4>Display name: <% user.displaname %></h4>

        <% if (user.admin) { %>
        <p>Is an admin.</p>
        <% } else if (user.member) { %>
        <p>Is an member.</p>
        <% } %>
        <p>Do you really want to delete this User?</p>
        <form method="POST">
          <div class="form.group">
            <input type="hidden" name="userid" value="<%= user.id %>" />
            <br />

            <button type="submit" class="btn-primary">Delete</button>
          </div>
        </form>
        <br />
        <% if (errors) { %> <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
        <% }) %> <% } %> <% if (message !== null) { %>
        <p><%= message %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
